@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    overflow-y: scroll;
}

body {
    background-image: url('flat-lay-yellow-luggage-with-copy-space.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
}

.color-decoration {
    color: black;
    text-decoration: none;
}

.list-style {
    list-style-type: none;
    display: inline-block;
    width: 90px;
    font-family: "Roboto", cursive;
    letter-spacing: 3px;
}
div.fixed {
    position: fixed;
    left: 510px;
    bottom: 570px;
}

.li {
    left: 100px;
}

img.img {
    width: 10%;
    position: fixed;
    bottom: 527px;
    left: 7px;
}

h2.h2-pertama {
    font-size: x-large;
    font-weight: 500;
    font-family: "verdana";
    letter-spacing: 2px;
    margin-left: 11rem;
}

.form {
    margin-left: 11.2rem;
}

.heading-title {
    margin-top: 10rem;
}

.khusus {
    font-weight: 800;
}

p.form {
    color: #0a1746;
    top: 195px;
    left: 103px;
    font-family: "Verdana"
}

.col {
	margin-top: 12px;
	display: inline-block;
    top: 230px;
    left: 95px;
}

.textbox {
	border: 0;
	padding: 2px 0;
	border-bottom: 1px solid #ccc;
	font: 13px/24px "Lato", Arial, sans-serif;
	color: #333;
	width: 275px;
	box-sizing: border-box;
	letter-spacing: 1px;
    background: transparent;
}
.textbox ~ .focus-border{
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px; 
	background-color: #3399FF; 
	transition: 0.4s;
}
.textbox:focus{
	outline: none;
}
.textbox:focus ~ .focus-border{
	width: 100%;
	transition: 0.4s;
	left: 0;
}

.myButton {
	background-color:transparent;
	border-radius:32px;
	border:1px solid transparent;
	display:inline-block;
	cursor: pointer;
	color:#3a3a3a;
	font-family:Verdana;
	font-size:13px;
	font-weight:normal;
	padding:8px 13px;
	text-decoration:none;
    opacity: 0.8;
    margin-top: 0.5rem;
    margin-right: 4rem;
}

.myButton:hover {
	background-color:transparent;
}

.cards {
    display: flex;
    flex-direction: row;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 24%;
    margin-top: 20rem;
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: rgb(255, 255, 255);
}

.card-2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 24%;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    background-color: rgb(255, 255, 255);
}

.opacity {
    opacity: 1;
}

  
.container {
    padding: 2% 8%;
}

.font {
    font-family: "Arial";
}

p.font.head {
    font-weight: 600;
    font-size: normal;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.card img {
    width: 70%;
}

.button {
    border: none;
    width: 20%;
    padding: 3px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 25px;
    cursor: pointer;
}

#plus, #minus {
    font-size: 20px;
    width: 6%;
    float: right;
}

.inputMalam{
    
    width: 30%;
}

.addToCart {
    background-color:darkgreen;
    float:left;
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
}

.addToCartGrey {
    background-color:darkslategrey;
    float:left;
    color: black;
    padding: 8px 20px;
    border-radius: 10px;
}

.addMalamDiv {
    display:block;
    margin-right: 20px;
    width: auto;
}

.lihatKeranjang {
    border: none;
    width: 20%;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 25px;
    cursor: pointer;
    border-radius: 10px;
    background-color: darkslateblue;
    color: white
}

.button-position {
    margin-top: 20rem;
    margin-left: 66rem;
}
ul {
    display: block;
    list-style-type: disc;
    padding-inline-start: 11px;
}

.harga {
    color:darkred;
    font-weight: bold
}

.kurangi {
    background-color: darkslateblue;
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
}

.delete {
    background-color:darkred;
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
}

.kurangiAlert {
    color: red;
    font-style: italic;
}

.alert {
    color: darkred;
    font-size:large;
    font-style: italic 
}

.kembali {
    padding-top: 10px
}